<div class="about-us-wrap">
  <div class="max-width">
    <div class="about-us">
      <div class="who-div">
        <div class="left">
          <div class="div-header">Who we are</div>
          <div class="div-info">
            <ul>
              <li>Point 1 is not long</li>
              <li>Point 1 is not long</li>
              <li>Point 1 is not long</li>
            </ul>
          </div>
        </div>
        <div class="right">
          <img src="../../../../assets/images/pizzasvg.svg" />
        </div>
      </div>
      <div class="what-div">
        <div class="left">
          <img src="../../../../assets/images/pizzasvg.svg" />
        </div>
        <div class="right">
          <div class="div-header">What we do</div>
          <div class="div-info">
            <ul>
              <li>Point 1 is not long</li>
              <li>Point 1 is not long</li>
              <li>Point 1 is not long</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
